@import "variables";

body {
  background: $pink;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body, input {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  margin-top: 10px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  background: $red;
  font-size: 16px;
  color: $white;
  border: 1px solid silver;
  display: block;

  &:hover {
    background: lighten($red, 5%);
  }
}